 /* CSS Custom Properties definitions */
:root {
  --primary-bg-color: #cf5c36;
  --secondary-bg-color: #7c7c7c;
  --tertiary-bg-color: #efc88b;
  --primary-color:#000000;
  --secondary-color: #eee5e9;
}
@media (min-width: 400px){
  .portfolio {
    --col-per-row: 1;
  }
}

@media (min-width: 600px){
  .portfolio {
    --col-per-row: 2;
  }
}
@media (min-width: 800px){
  .portfolio {
    --col-per-row: 3;
  } 
}


/* Whole Site */
body {
  margin: 0;
  padding: 0;
  color: var(--primary-color) ;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}


.header {
  background-color: var(--primary-bg-color);
  color: var(--secondary-color)
}

.header h1 {
  margin: 0;
  text-align: left;
  padding: 30px;
}

.menu {
  width: 100%;
  background-color: var(--secondary-bg-color);
}

.menu ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  display: inline-block;
  padding: 30px;
  padding-top: 20px;
  padding-bottom:20px;

}
.menu li.inactive {
  color: var(--secondary-color);
}
.menu li:hover, .menu .active {
  background-color: var(--tertiary-bg-color);
  cursor: pointer;
  color: var(--primary-color);
}

button:hover {
  border-style: ridge;
}
button:active{
  border-style: inset;
}

.mainContent {
  margin: 30px 30px 0 30px;
  max-width: 100%;
  padding-bottom: 4.5rem;
}

/* image styles  */
img.thumbnail {
  width: 80px;
  /* height: 80px; */
  float: left;
  margin: 1em 1em 1em 0;
}
img.fullsize {
  width: 95%;
  margin: 1em;
}

/* Resume Specific styles */

.resume .education>ol>li {
  margin-bottom: 1em;
}
.resume .work ol, .resume .education ol {
  list-style: none;
}

.resume .work li {
  box-shadow: 0px 3px var(--secondary-bg-color);
}
.resume h3 {
  margin-bottom: 0;
  margin-top: 25px;
}
.resume h4 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.skills ul {
  margin-left: 1em;
}
.skills {
  margin-top:1.5em;
}

/* Portfolio styles */

.portfolio {
  display: grid;
  grid-template-columns: repeat(var(--col-per-row), 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 2em;
}

.portfolio .box {
  /*background-color: var(--tertiary-bg-color);*/
  border: 1px solid grey;
  padding: 1rem;
}

.box:hover {
  /* background-blend-mode: soft-light; */
  background-color: var(--secondary-bg-color);
  filter: brightness(160%);
}

.detailsOpened {
  background-color: var(--tertiary-bg-color);
}


/* Modal styles */


.modalfade {
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

div.activemodal.modal {
  z-index: 15;
  left: 50%;
  top: 15%;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

div.modal {
    transition-property: width height background-color font-size left top color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    background-color: rgba(255,255,255,1.0);
    position: absolute;
    top: -100%;
    left: 50%;
    width: 700px;
    height: auto;
    max-height: 60%;
    max-width: 95%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    transform: translate(-50%); 
    overflow:scroll;
}

.modal > .close {
  cursor: pointer;
  font-size: larger;
  padding: 0.5em;
  border-radius: 0.2em;
  float: right;
}


/* Footer styles */
.footer {
  position: absolute;
  margin: 0;
  bottom: 0;
  padding-top: 2rem;
  /*padding-bottom:20px; */
  width: 100%;
  height: 2.5rem;
  background-color: var(--tertiary-bg-color);
}
.footer>div {
  padding-left:30px;
  display: inline-block;
}
